<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="style1.css" rel="stylesheet">
    <script defer src="quiz1.js"></script>
    <title>Question Blog</title>
</head>
<body>
<center>
<h1 style="color:violet";font-size:35px"><b>SPREAD THE KNOWLEDGE</b></h1>
</center>
<br>
<center>
<h3 style="color:white"><i>A place to share knowledge and better understand the world</i></h3>
</center>
<center><img src="blogging7.webp" height="250" width="250"></center>

  <center>
  <div class="container">
    <div id="question-container" class="hide">
      <div id="question">Question</div>
      <div id="answer-buttons" class="btn-grid">
        <button class="btn">Option 1</button>
        <button class="btn">Option 2</button>
        <button class="btn">Option 3</button>
        <button class="btn">Option 4</button>
      </div>
    </div>
	<div class="controls">
      <button id="start-btn" class="start-btn btn">Start</button>
      <button id="next-btn" class="next-btn btn hide">Next</button>
    </div>
  </div>
  </center>
  <center><img src="imagehtml.jpg" height="250" width="250"></center>
  
  <h2 style="text-align:center;">Click <a style="color:blue;" href="https://www.jstor.org/action/doBasicSearch?Query=plastic+recycling+benefits&so=rel" target="_blank">
	     here </a>to clarify any of your <span style="color:#ff4d4d;font-size:40px;" >questions<img src="questionmark.jpg" height="35px" width="35px"></span> </h2>
	<br>	 
  <center>
  <h4 style="color:yellow"><i>Thankyou for visiting this page hope this is helpful to you</i></h4>
  </center>
  <br>
  
 <center><h2>Rate here</h2></center>
 
 
  <div class="rate" id="pos1">
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1 star</label>
 
  </div>
  <br>
  <br>
        <center>
		<div id="pos2">
		 <h3><marquee direction="left"><i>Fill your name and Email ID to add comment</i></marquee></h3>
		 </div>
  <br>
	
		
   <center>
		 <label for="fname">Name:</label>
         <input type="text" id="fname" name="fname">
   </center>
   <center>
		 <label for="Email ID">Email:</label>
		 <input type="text" id="Email ID" Email ID="Email ID">
   </center>
		<section id="app">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div>
          </div>
          </div>
      <div class="row">
        <div class="col-6">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
        </div>
      </div>
    </div>
  </section>
</body>
</html>